.window {
    width: 680px;
    height: 70dvh;
    box-sizing: border-box;
    border-radius: 20px;
    position: fixed;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    box-shadow: 0 0 4px var(--gold);
}

.w-nav {
    border-radius: 20px 20px 0 0;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 4px 16px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--bg);
    box-shadow: inset 0 0 4px var(--border);

    .btn-close {
        margin: 4px 0;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        cursor: pointer;
        background-color: #EF4444;
        color: #ffffff;
        border-radius: 50%;
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.06);
            box-shadow: 0 0 4px #EF4444;
        }
    }
}

.w-container {
    width: 100%;
    flex: 1;
    overflow: auto;
    margin: 0;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 16px;
}

.window-subtitle {
    font-size: max(16px, 1.3dvw);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
}

.window-toPlay {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 2rem;
    box-sizing: border-box;
}

.wp-text {
    font-size: max(12px, 1.1dvw);
    font-family: "Poppins", sans-serif;

}

@media (max-width: 768px) {
    .window {
        width: 80%;
        height: 652px;
    }
}